# Data folder
data/

# tests folder
tests/

# EDA
eda.ipynb

# Virtual environment
.venv/
venv/
env/

#MLflows
mlflow.db
mlruns/

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter checkpoints
.ipynb_checkpoints/

# ML model files
*.pkl
*.joblib
*.h5

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log